<div>
  <ul ngbNav class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink routerLink="/">Oshop</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/shopping-cart">Shopping Cart
        <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
          {{ cart.totalItemsCount }}
        </span>
      </a>
    </li>
    <ng-template #anonymousUser>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/login">Login</a>
      </li>
    </ng-template>
    <li ngbNavItem ngbDropdown class="nav-item" *ngIf="appUser; else anonymousUser">
      <a ngbNavLink class="nav-link" ngbDropdownToggle>{{appUser.name}}</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem routerLink="/my/orders">My Orders</button>
        <ng-container *ngIf="appUser.isAdmin">
          <button ngbDropdownItem routerLink="/admin/orders">Manage Orders</button>
          <button ngbDropdownItem routerLink="/admin/products">Manage Products</button>
          <button ngbDropdownItem routerLink="/admin/products/new">new Products</button>
        </ng-container>
        <button ngbDropdownItem (click)="logout()">Log out</button>
      </div>
    </li>
  </ul>
</div>

